/* Bootstrap */
html {
  scroll-padding-top: 64px;
}

body {
  padding-top: 64px;
}

@media (max-width: 1200px) {
  .card-img {
    max-height: 360px;
  }
}

/* Custom styles */
.brand-navbar {
  padding: 0.75rem 0;
  background-color: #bd5e98;
}

.brand-btn {
  color: #fff;
  background-color: #bd5e98;
  border-color: #bd5e98
}

.brand-btn:hover,
.brand-btn:active {
  color: #fff;
  background-color: #ad367f;
  border-color: #ad367f
}

.brand-bg {
  background-color: #bd5e98;
}
